<!DOCTYPE html>
<html lang="es">
    <meta charset="UTF-8">
<head>
    <link rel="shortcut icon" href="images/ui/logoRollo.svg">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/logosMarcas.css' />
    <link rel='stylesheet' href='/stylesheets/carruseles.css' />
    <link rel="stylesheet" href="path-to-the-file/splide.min.css">
    <link rel="stylesheet" href="url-to-cdn/splide.min.css">    
    <meta name="viewport" content="initial-scale=1">
     <!----- CDN Carrusel  ----->

     <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.css">
     <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
     <script src="../../public/js/slider.js"></script>
     <script src="../public/js/cotizador.js"></script>
     <script src="../../public/js/slider2.js"></script>
     <script src="https://kit.fontawesome.com/c838d3aca8.js" crossorigin="anonymous"></script>
     <link
        rel="stylesheet"
        href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
     />
     
    <title>Fernatex</title>
</head>