
header {
  transition: all 1s ;
  position: fixed;
  width: 100vw;
  z-index:100;
}



button{
  border-radius: 3px !important;
  background-color: #F27983;
  transition-duration: 0.4s;
}
button:hover{
  background-color: #D95959;
}

a { 
  text-decoration: none !important; 
 }

a:visited { 
  text-decoration: none ; 
  color: inherit;
 }
 a:hover{
   color:white !important;
 }
#cotizador{
  width: 100vw;
  height: 100vh;
  display: flex ;
  align-items: center;
  justify-content: center;
  background: url('../images/ui/Tarjeta fondo cotizador.png') no-repeat transparent;
  background-size: cover;
  position:fixed;
}

.menu ul li{
  visibility: hidden;
}
.homeBtn{
  display: block;
}
.homeBtn button{
  padding: 0 10px;
}
.homeBtn strong{
  padding: 0px 4px;
  font-size: 25px;
}


.cotizadorContainer{
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  color: white;
  border:none;
  background-color: hsla(0, 0%, 95%, 0.92);
  box-shadow: 0px 1px 6px #000000aa;
  padding: 20px;
  border-radius: 6px;
}

.step{
  display: none;
}

.step.active{
  display: block;
}

/* .cotizadorBody{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
} */

.cotizadorBody .cotizador{
  position: fixed;
  width: 100vw;
  height: 80vh;
  z-index: 1;
  top: 0;

}


.cotizadorTitle{
  padding: 20px;
  color: white;
}
.cotizadorTitle h1{
  font-size: 3.5rem;
  font-weight: 600;
  text-shadow:0px 2px 6px rgb(0 0 0 / 40%);
}

.cotizadorTitle button {
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 3px 4px rgb(0 0 0 / 50%);
}




.form-group{
  width: 100%;
  margin-top: 20px;
  color:#F27983;
  font-weight: 600;
}

.form-group label{
  margin: 5px 0;
  font-size: 18px;
  text-shadow: 1px 1px 1px #0d0d0db0;
}

.form-group input {
  width: 100%;
  border: 1.5px solid lightgray;
  padding: 6px;
  font-size: 18px;
  margin-top: 5px;
  border-radius: 4px;
}

button.next-btn,
button.prev-btn,
button.sub-btn{
  margin-top: 20px;
  padding: 10px 30px;
  outline: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;
  color: #F27983;
  border: 2px solid #F27983;
  transition-duration: 0.4s;
  border-radius: 12px;
}

button.next-btn:hover,
button.prev-btn:hover,
button.sub-btn:hover{
  background-color: #F27983;
  color: white;
}

.imageCotizador{
  display: table;
}

.column{
  width: 33.33%;
  float: left;
  padding: 5px;
}

.contact-container {
  margin: 5%;
  margin-top: 92vh;
  margin-bottom: 3vh;
  position: absolute;
  width: 90%;
  border-radius:5px;
  box-shadow: 0px -3px 8px 2px rgba(0,0,0,0.65);
  background: url('../images/ui/telar4.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.newsletterContainer {
  height: 32vw;
}
.newsletterContainer #backgroudTransparent {
  padding-top: 50px;
}

#suriSlug {
  margin-top: 165vh;
}

#suriSlug h4 a{
  text-decoration:underline !important;
}
#suriSlug h4 a:hover{
  color: #7B77F2 !important;
  text-decoration: none !important;
}