
header {
  transition: all 1s ;
  position: fixed;
  width: 100vw;
  z-index:100;
}

.menu{
  width: 65%;
}

button{
  border-radius: 3px !important;
  background-color: #F27983;
  transition-duration: 0.4s;
}
button:hover{
  background-color: #D95959;
}

a { 
  text-decoration: none !important; 
 }

a:visited { 
  text-decoration: none ; 
  color: inherit;
 }
 a:hover{
   color:white !important;
 }
#cotizador{
  width: 100vw;
  height: 100vh;
  display: flex ;
  align-items: center;
  justify-content: center;
  background: url('../images/ui/Tarjeta fondo cotizador.png') no-repeat transparent;
  background-size: cover;
  position:fixed;
  z-index: 99;
}
.menu ul{
justify-content:flex-end;
}
.menu ul li{
display: none;
}
#drawer ul li{
  display: none;
}
.menu ul a{
  margin:0px 15px;
}
.homeBtn{
  display: block;
}



.cotizadorContainer{
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  color: white;
  border:none;
  background-color: hsla(0, 0%, 95%, 0.92);
  box-shadow: 0px 1px 6px #000000aa;
  padding: 20px;
  border-radius: 6px;
}

.step{
  display: none;
}

.step.active{
  display: block;
}

/* .cotizadorBody{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
} */

.cotizadorBody .cotizador{
  position: fixed;
  width: 100vw;
  height: 80vh;
  z-index: 1;
  top: 0;

}


.cotizadorTitle{
  padding: 20px;
  color: white;
}
.cotizadorTitle h1{
  font-size: 3.5rem;
  font-weight: 600;
  text-shadow:0px 2px 6px rgb(0 0 0 / 40%);
}

.cotizadorTitle button {
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 3px 4px rgb(0 0 0 / 50%);
}




.form-group{
  width: 100%;
  margin-top: 20px;
  color:#F27983;
  font-weight: 600;
}
.form-group#estampadoPersonalizado.hidden{
  opacity: 0.5;
}
.form-group#estampado.hidden{
  display: none;
}

.form-group label{
  margin: 5px 0;
  font-size: 18px;
  text-shadow: 1px 1px 1px #0d0d0db0;
}

.form-group input {
  width: 100%;
  border: 1.5px solid lightgray;
  padding: 6px;
  font-size: 18px;
  margin-top: 5px;
  border-radius: 4px;
}

button.next-btn,
button.prev-btn,
button.sub-btn{
  margin-top: 20px;
  padding: 10px 30px;
  outline: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;
  color: #F27983;
  border: 2px solid #F27983;
  transition-duration: 0.4s;
  border-radius: 12px;
}

button.next-btn:hover,
button.prev-btn:hover,
button.sub-btn:hover{
  background-color: #F27983;
  color: white;
}

.imageCotizador{
  display: table;
}

.column{
  width: 33.33%;
  float: left;
  padding: 5px;
}

.contact-container {
  margin: 5%;
  margin-top: 94vh;
  margin-bottom: 3vh;
  position: absolute;
  width: 90%;
  border-radius:5px;
  box-shadow: 0px -3px 8px 2px rgba(0,0,0,0.65);
  background:#fff;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 101;
}
.newsletterContainer {
  height: 70vh;
}
.newsletterContainer #backgroudTransparent {
  padding-top: 50px;
}

#suriSlug {
  margin-top: 175vh;
}

#suriSlug h4 a{
  text-decoration:underline !important;
}
#suriSlug h4 a:hover{
  color: #80cec1 !important;
  text-decoration: none !important;
}

#tableEstampados{
  width: 100%;
  height: 300px;
  padding: 10px 0px 0px 0px;
  display: flex;
  flex-flow: wrap;
  overflow: hidden;
  overflow-y: scroll;
}
#tableEstampados div{
  height: 140px;
  width: 175px;
  margin:0 5px 5px 5px;
  background-attachment: local;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#tableEstampados div:hover{
  cursor: pointer;
  opacity: 0.8;
  filter: brightness(110%);
  transform: translate3d(0px, -3px, 0px);
}

@media all and (max-width: 1400px) {

  .menu{
    width:70%;
  }

  .menu ul li{
    visibility: hidden;
  }



}







@media all and (max-width: 1220px) {

  .menu{
    width:70%;
  }
  .menu ul li a {
    font-size: 17px;
}
  .logo2Container img {
    width: 7vw;
    height: 7vw;
}

}

@media all and (max-width: 1000px) {

  .menuNavegacion {
    margin: 0 10px;
    justify-content: space-between;
}
  
  .menu button {
    font-size: 13px;
  }
  .menu button span {
    font-size: 14px;
  } 

  .logo2Container{
    cursor: pointer;
  }

  .newsletterContainer{

    height:75vh;
  }
  footer span {
    padding: 5px 15px;
    font-size: 20px;
  }

  #suriSlug {
    margin-top: 180vh;
  }
}

@media all and (max-width: 768px) {

  .menu button {
    font-size: 12px;
  }
  .menu button span {
    font-size: 13px;

  }
  .menu ul a {
    margin: 0px 10px;
}
  .newsletterContainer {
    height: 85vh;
  }


  .newsletterBox{

    width: 70%;
    height: 12%;
  }





  footer{
    flex-direction: column;
    justify-content:space-around;
    text-align: center;
  }
  footer span {
    padding: 5px 10px;
    font-size: 20px;
    margin: 10px 5px;
  }

  #suriSlug {
    margin-top: 190vh;
  }
}



@media all and (max-width: 625px) {
  .menu ul a{
    margin:0 5px;
  }
  .menu button {
    padding: 5px 5px;
    font-size: 10px;
  }
  .menu button span {
    font-size: 12px;

  }


  .newsletterBox{

    width: 75%;
    height: 14%;
  }
  .newsletterContainer form input {

    height: 45px;
    padding: 5px 15px;
    font-size: 18px;

}


}

@media all and (max-width: 425px) {


  .newsletterContainer{

    height:80vh;
  }
  .newsletterContainer #backgroudTransparent {
    padding-bottom: 0px;
    padding-top: 50px;
}
  .newsletterBox{

    width: 85%;
    height: 17%;
  }


}

@media all and (max-width: 325px) {
  .socialBox{ 
    width: 50%;
  } 
}